<h1>Politique de Confidentialité</h1>

<p>Votre vie privée est importante pour nous.</p>

<p>Corsego a pour politique de respecter votre vie privée en ce qui concerne les informations que nous pouvons recueillir auprès de vous sur notre site web, corsego.com.</p>

<p>Nous ne demandons des informations personnelles que lorsque nous en avons réellement besoin pour vous fournir un service.</p>

<p>Nous les collectons par des moyens justes et légaux, avec votre connaissance et votre consentement.</p>

<p>Nous vous informons également des raisons pour lesquelles nous les recueillons et de la manière dont elles sont utilisées.</p>

<p>Nous ne conservons les informations collectées que le temps nécessaire pour vous fournir le service demandé.</p>

<p>Les données que nous stockons sont protégées par des moyens commercialement acceptables pour éviter la perte et le vol, ainsi que l'accès, la divulgation, la copie, l'utilisation ou la modification non autorisés.</p>

<p>Nous ne partageons aucune information d'identification personnelle publiquement ou avec des tiers, sauf si la loi l'exige.</p>

<p>Notre site web peut contenir des liens vers des sites externes qui ne sont pas exploités par nous.</p>

<p>Sachez que nous n'avons aucun contrôle sur le contenu et les pratiques de ces sites, et que nous ne pouvons accepter la responsabilité de leurs politiques de confidentialité respectives.</p>

<p>Vous êtes libre de refuser notre demande d'informations personnelles, étant entendu que nous pourrions ne pas être en mesure de vous fournir certains des services que vous souhaitez.</p>

<p>Votre utilisation continue de notre site web sera considérée comme une acceptation de nos pratiques en matière de confidentialité et d'informations personnelles.</p>

<p>Si vous avez des questions sur la manière dont nous traitons les données des utilisateurs et les informations personnelles, n'hésitez pas à nous contacter.</p>

<p>Cette politique est en vigueur depuis le 24 avril 2021.</p>